---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 4
PointerAlignment: Left
DerivePointerAlignment: false
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
...
